@model LuckySpin.Models.ViewModels.MemberDetailViewModel

@{
    ViewBag.Title = "Member Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    th, td {
        text-align: center;
    }
</style>

<div class="container">
    <a href="/Admin/MembersList">Back</a>
    <h2>@Model.Customer.Username <i class="fas fa-plus-circle" title="Add Voucher" style="cursor: pointer;" data-toggle="modal" data-target="#addVoucher"></i></h2>
    <table class="table table-striped table-bordered" id="vouchers">
        <thead>
            <tr>
                <th>Id</th>
                <th>Count</th>
                <th>Winning</th>
                @*<th>Board Type</th>*@
                <th>Expiry On</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var voucher in Model.Vouchers)
            {
                <tr>
                    <td>@voucher.Id</td>
                    <td>@voucher.SpinCount</td>
                    <td><a href="#" data-detail="@voucher.Winning" data-toggle="modal" data-target="#voucherWinning">details</a></td>
                    @*<td>@voucher.SpinBoard.ToString()</td>*@
                    <td>
                        @voucher.ExpiryOn
                    </td>
                    <td>
                        @{ var abc = voucher.Status ? "checked" : "";}
                        <input type="checkbox" data-toggle="toggle" data-on="Active" data-off="Suspend" data-onstyle="success" data-offstyle="danger" data-size="mini" onchange="toggleVoucherStatus(@voucher.Id)" @abc>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addVoucher">
    <form action="/admin/addvoucher" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Voucher</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="CustomerId" value="@Model.Customer.CustomerId" />
                    <div class="form-group">
                        <label for="spinCount" class="font-weight-bold">Spin Count</label>
                        <input type="text" name="SpinCount" class="form-control" id="spinCount" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" value="0">
                    </div>
                    <input id="winning" type="hidden" name="winning"/>
                    <div class="form-group" id="editOption">

                    </div>
                    <div class="form-group">
                        <label for="expiryOn" class="font-weight-bold">Expiry On</label>
                        <input type="text" name="ExpiryOn" class="form-control" id="expiryOn" value="1">
                    </div>
                    <div>
                        @*<span class="switch">
            <input type="checkbox" name="Status" class="switch-lg" id="switch-id">
            <label for="switch-id">Status</label>
        </span>*@
                        <input id="switch-id" class="form-control" name="status" type="checkbox" data-toggle="toggle" data-on="Active" data-off="Suspend" data-onstyle="success" data-offstyle="danger" data-size="normal" >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal" tabindex="-1" role="dialog" id="voucherWinning">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Voucher Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
            </div>
        </div>
    </div>
</div>
<script>
    var mapping = {1:"ZONK", 2:"150K", 3: "50K", 4: "75K", 5:"100K", 6: "ZONK", 7: "350K", 8: "10K", 9: "25K", 10: "35K"};
    $(document).ready(function () {
        $('#vouchers').DataTable({
            "order": [[0, "desc" ]]
        } );
    });

    $('#addVoucher').on('shown.bs.modal', function() {
        $("#spinCount").val("");
        $("#editOption").html("");
        $("#winning").val("");
    });

    $('#voucherWinning').on('shown.bs.modal', function(event) {
        var trigger = $(event.relatedTarget);
        var detail = trigger.data("detail");
        var tmpl = `<table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Remaining Spin</th>
                            <th>Winning</th>
                        </tr>
                    </thead>
                    <tbody>
                        {0}
                    </tbody>
                </table>`;
        var data = Object.keys(detail).sort(function (a, b) { return b - a; }).map(function(x) {
            return `<tr><td>${x}</td><td>${mapping[detail[x]]}</td></tr>`;
        });
        var modal = $(this);
        modal.find('.modal-body').html(tmpl.replace("{0}", data.join("")));
    });

    $('#expiryOn').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'yyyy-mm-dd',
        value: '@DateTime.Today.AddDays(10).ToString("yyyy-MM-dd")'
    });

    $("#spinCount").on("change", function () {
        if (!$("#spinCount").val()) {
            $("#editOption").html("");
            return;
        }

        var template = `<div class="row mt-2">
                            <div class="col-xs-2 col-sm-2">
                                <input id="staticEmail2" type="text" class="form-control" disabled value="{0}">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <select class="form-control option" style="height: 34px; font-size: 1.2rem;" data-index="{0}" onchange="handleChange(this)">
                                    <option value='1'>ZONK</option>
                                    <option value='8'>10K</option>
                                    <option value='9'>25K</option>
                                    <option value='10'>35K</option>
                                    <option value='3'>50K</option>
                                    <option value='4'>75K</option>
                                    <option value='5'>100K</option>
                                    <option value='2'>150K</option>
                                    <option value='7'>350K</option>
                                </select>
                            </div>
                        </div>`;

        var count = $("#spinCount").val();
        $("#editOption").html("");
        for (var i = count; i > 0; i--) {
            $("#editOption").append(template.replace(/\{0\}/g, i));
        }
        handleChange();
    });

    $("#switch-id").change(function() {
        if ($(this).prop('checked')) {
            $(this).val("true");
        } else {
            $(this).val("false");
        }
    });

    function handleChange(element) {
        var options = {};
        $(".option").each(function() {
            options[$(this).data("index")] = $(this).val();
        });
        $("#winning").val(JSON.stringify(options));
    }

    function toggleVoucherStatus(voucherId) {
        $.post("ToggleVoucherStatus",
            { voucherId: voucherId },
            function(response) {
                if (response.Success) {
                    alert("Update Succesfully.");
                }
            });
    }
</script>
